@font-face {
    font-family: PTSans;
    src: url(../fonts/PTSans/PTSans-Regular.ttf);
}
@font-face {
    font-family: Playfair;
    src: url(../fonts/PlayfairDisplay/static/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: Playfair-Italic;
    src: url(../fonts/PlayfairDisplay/static/PlayfairDisplay-MediumItalic.ttf);
}
@font-face {
    font-family: Playfair-Bold;
    src: url(../fonts/PlayfairDisplay/static/PlayfairDisplay-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    border-collapse: collapse;
    list-style: none;
}

hr{

    background-color: white;
    width: 120px;
}
.title{
    color: white;
    text-align: center;
    h1{
        font-size: 36px;
        font-family: Playfair;
        text-transform: uppercase;
    }
}

header{
    .container{
        padding: 0;
        .row{
            margin: 0;
        }
    }
    .top{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgba(150, 150, 150, 1);
        font-size: 12px;
        padding: 14px 0;
        p{
            margin: 0;
            font-family: PTSans;
        }
        .info{
            display: flex;
            justify-content: flex-start;
            padding: 0;

            .phone{

                display: flex;
                padding: 0 14px 0 0;
                i{
                    padding-top: 2px;
                    margin-right: 16px;
                    font-size: 14px;
                }
            }
            .workday{

                padding: 0 14px;
                border-right: 1px solid rgb(150, 150, 150) ;
                border-left: 1px solid rgb(150, 150, 150) ;
            }
            .worktime{


                padding: 0 14px;
            }

        }
        .input{
            padding: 0;
            display: flex;
            justify-content: flex-end;
            i{
                padding-top: 2px;
                margin-right: 14px;
                font-size: 14px;
            }
            a{
                transition: 0.5s;
                color: rgba(150, 150, 150, 1);
                font-size: 12px;
            }
            a:hover{
                transition: 0.5s;
                color: white;
                text-decoration: none;
            }
        }
    }
    .navMenu{

        background: rgba(15, 15, 15, 1);
        .logo{
            padding: 6px 0;
            margin: 16px 0;
        }
        .menu{
            padding: 0;
            align-items: center;
            display: flex;
            justify-content: space-between;
            .nav{
                height: 100%;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0;
                    li{
                        transition: 0.3s;
                        height: 100%;
                        list-style: none;
                        padding: 25px 20px 0 ;
                        p{
                            transition: 0.3s;
                            align-items: center;
                            text-transform: uppercase;
                            color: rgb(150,150,150);
                            font-size: 14px;
                            font-family: PTSans;
                        }
                    }
                    li:hover{
                        cursor: pointer;
                        transition: 0.3s;
                        background-color: rgb(31,31,31);
                        p{
                            transition: 0.3s;
                            color: white;
                        }
                    }
                }
            }
            .tool{
                margin-right: -15px;

                i{
                    color: white;
                    font-size: 16px;
                    padding: 0 5px;
                    margin: 0 20px;
                }
                i:hover{
                    cursor: pointer;
                }
            }
        }

    }
    .mobileHead{
        display: none;
    }
    .banner{
        padding: 160px 0;
        background-image: url("../img/background/bunner.png");
        background-size: cover;
        background-position:center;
        text-align: center;
        color: #ffffff;
        .col-xl-8{
            padding: 0;
        }
        .superLoge{
            margin-bottom: 80px;
        }
        .text{
            text-transform: uppercase;
            padding: 0 2px;
            p{
                font-family: PTSans;
                font-size: 16px;
            }
        }
    }
}
main{
    background-color: black;
    .collectionsUpLine{
        display: flex;
        color: white;
        .season{
            width: 55%;
            padding: 93px 80px;
            .title{
                display: flex;
                justify-content: center;
                h1{
                    font-size: 36px;
                    font-family: Playfair-Bold;
                    text-transform: uppercase;
                    margin: 0;

                }

            }
            hr{
                margin: 50px auto;
                background-color: white;
                width: 120px;
            }
            .list{
                margin: 0 -25px;
                ul{
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    list-style: none;
                    li{
                        padding: 0 25px;
                        .foto{
                            background-color: rgb(25,27,28);
                            padding: 55px 22px;
                        }
                        .text{
                            padding: 25px 0;
                            h3{
                                font-size: 18px;
                                font-family: Playfair-Italic;
                                font-weight: 400;
                            }
                         p{
                                font-size: 16px;
                                font-family: Playfair-Italic;
                                font-weight: 700;
                             color: rgb(208,208,208);
                             margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .catalog{
            width: 45%;
            background-image: url("../img/background/catalog.png");
            background-size: cover;
            background-attachment: scroll;
            background-position:center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding: 100px;
            .title{
                h1{
                    font-size: 36px;
                    font-family: Playfair;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
            hr{
                background-color: white;
                margin: 30px auto;
                width: 120px;
            }
            .btnCatalog{
                button{
                    padding: 12px 30px;
                    background: none;
                    border: 2px solid white;
                    font-size: 18px;
                    font-family: PTSans;
                    font-weight: 400;
                    color: white;
                    text-transform: uppercase;
                }
            }
        }
    }
    .collectionDownLine{
        display: flex;
        .seasonDown{
            width: 45%;
            background-image: url("../img/background/season.png") ;
            background-size: cover;
            background-position:center;
        }
        .colection2018{
            color: white;
            width: 55%;
            padding: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .title{
                h1{
                    text-transform: uppercase;
                    font-size: 36px;
                    font-family: Playfair;
                    font-weight: 400;
                }
            }
            hr{
                width: 120px;
                background-color: white;
                margin: 40px auto;
            }
            .text{
                width: 470px;
                text-align: center;
                p{
                    font-size: 14px;
                    font-family: PTSans;
                    font-weight: 400;
                }
            }
            .btnColection{
                margin-top: 60px;
                button{
                    color: white;
                    text-transform: uppercase;
                    background:none;
                    padding: 12px 28px;
                    border: 2px solid white;
                    font-family: PTSans;
                    font-size: 18px;

                }
            }
        }
    }
    .newArrivals{
        padding: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        .col-xl-12{
            padding: 0;
        }
        .title{
            text-align: center;
            h1{
                font-size: 36px;
                font-family: Playfair;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        hr{
            margin: 40px auto 80px;
        }
      .arrows{
        i{
          margin: -40px -25px;
          display: none;
          position: relative;
          top: 350px;
          font-size: 48px;
        }
        .fa-chevron-left{
          position: absolute;
          left: -50px;
        }
      .fa-chevron-right{
        position: absolute;
        right: -50px;
        }
      }

        .listArrivals{
            margin: 0 -25px -20px;

            ul{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin: 0;
                list-style: none;
                li{
                    width: 20%;
                    margin: 0 12px 20px;
                    .foto{
                        background-color: rgb(25,27,28);
                        padding: 55px 22px;
                    }
                    .text{
                        padding: 25px 0;
                        h3{
                            font-size: 18px;
                            font-family: Playfair-Italic;
                            font-weight: 400;
                        }
                        p{
                            font-size: 16px;
                            font-family: Playfair-Italic;
                            font-weight: 700;
                            color: rgb(208,208,208);
                            margin: 0;
                        }
                    }
                }
            }

        }
    }
    .ourBrands{
        background-color: rgb(15,15,15);
        padding: 60px;
        hr{
           margin: 40px auto;
        }
        .listBrands{
            ul{
                display: flex;
                margin:0 -15px;
                li{
                    margin: 0 15px;
                }
            }
        }
    }
}
footer{
    color: white;
    background: rgba(15, 15, 15, 1);
    .footerBaner{
        background-image: url("../img/background/footBunner.png");
        background-size: cover;
        background-position:center;
        padding: 80px 10px 100px;
        .title{
            text-align: left;
            margin-bottom: 40px;
            h1{
                font-size: 24px;
            }
        }
        .text{
            p{
                font-size: 14px;
                font-family: PTSans;
                font-weight: 400;
                line-height: 21px;
            }
        }
        .tags{
            margin: -10px;
            display: flex;
            flex-wrap: wrap;
            a{
              margin: 10px;
              padding: 10px 20px;
              background: rgb(15,15,15);
                color: white;
                font-size: 14px;
                font-family: PTSans;


            }
        }
        .form{
            margin-top: 45px;
            input{
                width: 50%;
                height: 40px;
                padding: 10px 15px;
                color: white;
                font-family: PTSans;
                font-size: 14px;
                background-color: rgba(255,255,255,0.4);
                border:none;
                margin: 0;
            }
            input::-webkit-input-placeholder{
                color: rgb(150,150,150);
            }
            button{
                width: 40%;
                background-color: rgb(15,15,15);
                padding: 10px 20px;
                font-size: 14px;
                font-family: PTSans;
                text-transform: uppercase;
                color: white;
                font-weight: 400;
                border: none;
                margin: 0;
            }
        }
    }
    .boton{
       padding: 17px;

        .сopyright{
            color: rgb(208,208,208);
            p{
                font-size: 12px;
                font-family: PTSans;
                font-weight: 400;
                margin: 0;
            }
        }
        .link{
            display: flex;
            justify-content: flex-end;
            a{
                font-size: 12px;
                font-family: PTSans;
                font-weight: 700;
                color: rgb(208,208,208);
                text-decoration: underline;
                p{
                    margin: 0;
                }
            }
        }
    }
}