/*Pretentious version*/

@media (max-width: 2560px) {

}

/*Desktop version*/

@media (max-width: 1600px) {
main{
.collectionsUpLine{
  .season{
    width: 59%;
    .list{
      margin: 0 -10px;
      ul{
        li{
          padding: 0 10px;
          .foto{
            padding: 25px 5px;
          }

        }
      }
    }
  }
  .catalog{
    width: 41%;
  }

}
  .collectionDownLine{
    .seasonDown{
      width: 43%;
    }
    .colection2018{
      width: 57%;
    }
  }
  .newArrivals{

    .listArrivals{
      margin: 0 -25px -20px;
      ul{
        li{
          width: 22%;
          margin: 0 12px 20px;
          .foto{

            padding: 55px 22px;
          }

        }
      }

    }
  }
}
}
@media ( max-width: 1225px) {
  main{
    .collectionsUpLine{
      .season{
        width: 60%;
        .list{
          margin: 0 -5px;
          ul{

            li{
              padding: 0 5px;
              .foto{
                padding: 25px 5px;
              }

            }
          }
        }
      }
      .catalog{
        width: 40%;
      }

    }
    .newArrivals{

      .listArrivals{

        ul{
          .fantom{
            display: block;
          }
          li{
            .foto{

              padding: 40px 10px;
            }

          }
        }

      }
    }
  }


}
@media (max-width: 1199px) {
header{
  .navMenu{

    justify-content: flex-end;
  }
}
  main{
    .collectionsUpLine{
      display: flex;
      flex-wrap: wrap;
      .season{
        width: 100%;
        .list{
          margin: 0 -20px;
          ul{
            li{
              padding: 0 20px;
              .foto{
                padding: 25px 10px;
              }

            }
          }
        }

      }
      .catalog{
        width: 100%;
      }

    }
    .newArrivals{
.arrows{
  i{
    display: block;
  }
}
      .slider-box{
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        width: 810px;
        margin: 0 auto;



        .slider-body-new{
          position: relative;
         // transition: 0.5s;

          ul{
            position: relative;

            flex-direction: row;
            flex-wrap: nowrap;
            margin: 0;
            li{

              width: 250px;
              margin: 0 10px;
              .foto{
                width: 250px;
                padding: 50px 25px;
              }

            }
          }
        }



      }
    }
    .ourBrands{
      .listBrands{
        ul{
          display: flex;
          margin:0  0 0 -75px;
          li{
            margin: 0;
          }
        }
      }
    }
  }
}

/*Tablet version*/

@media (max-width: 950px) {
main{
  .collectionsUpLine{
    .season{
      .list{
        margin: 0 -10px;
        ul{
          li{
            padding: 0 10px;
            .foto{
              padding: 15px 5px;
            }

          }
        }
      }

    }


  }
  .collectionDownLine{
    margin-top: 25px;
    .seasonDown{
      width: 100%;
      margin-right: -100%;
    }
    .colection2018{
      width: 100%;
    }
  }
  .newArrivals{

    .slider-box{
      width: 540px;
    }
  }
  .ourBrands{
    .listBrands{
      ul{
        margin: -10px auto;
        flex-wrap: wrap;
        justify-content: space-around;
        li{
          margin: 10px auto;
        }
      }
    }
  }

}
  footer{
    .footerBaner{
      padding: 40px 10px 50px;
      .title{
        text-align: left;
        margin-bottom: 20px;
        h1{
          font-size: 22px;
        }
      }

      .tags{
        margin: -5px;
        a{
          margin: 5px;
        }
      }
      .col-md{
        display: flex;
        justify-content: space-between;
      }
      .textForm{
        width: 40%;
      }
      .form{
        margin-top: 40px;
        width: 55%;
        input::-webkit-input-placeholder{
          color: #0f0f0f;;
        }

      }
    }
  }
}

/*Mobile version*/

@media (max-width: 625px) {
  html{
    background-color: black;
  }
header{
  background-color: black;
  .top, .navMenu{
    display: none;
  }
  .mobileHead{
    display: block;
    background-color: black;
    color: white;
    .mobileTop{
      display: flex;
      height: 50px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.95);
      z-index: 100;
      .logo{
        position: fixed;
        top: 12px;
        left: 15px;
        height: 120px;
        width: auto;
        img{
          height: 25px;
        }
      }
      .icons{
        position: fixed;
        top: 12px;
        right: 15px;
        i{
          position: fixed;
          top: 15px;
          right: 15px;
          font-size: 25px;
        }
        .fa-times{
          display: none;
        }
      }
    }
    .mobileNav{
      //display: none;
      z-index: 100;
      background-color: rgba(0,0,0,0.95);
      position:fixed;
      top: 50px;
      right: 100%;
      width: 100%;
      padding: 15px 0;
      transition: 0.5s;
     .input{
       display: flex;
       justify-content: center;
       align-items: center;
       i{
         font-size: 24px;
         margin: 0 15px;
       }
       p{
         font-family: PTSans;
         margin: 0;
         a{
           font-size: 24px;
           color: white;

         }

       }

     }
      .menu{
        margin-top: 10px;
       text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24px;
        .nav{
          padding: 25px 0;
          ul{
            li{
              padding: 0;
              text-transform: uppercase;
              font-family: PTSans;
            }
          }
        }
        .tool{
          i{
            padding: 0 15px;
            font-size: 36px;
          }
        }
      }
      .info{
        margin-top: 25px;
      text-align: center;
        font-size: 18px;
        .phone{
          justify-content: center;
          display: flex;
          align-items: center;
          i{
           margin: 0 15px;
          };
          p{
            font-family: PTSans;
            margin: 0;
          }
        }
        .workday{
          p{
            font-family: PTSans;
            margin: 0;
          }
        }
        .worktime{
          p{
            font-family: PTSans;
            margin: 0;
          }
        }
      }
    }
  }
  .banner{
    margin-top: 50px;
    .text{
      padding: 0 15px;
      p{
        font-size: 14px;
      }
    }
  }

}
main{
  .collectionsUpLine{
    .season{

      .slider-box{
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        width: 95vw;
        margin: 0 -70px;



        .slider-body-season{
          position: relative;


          ul{
            position: relative;
            .fantom{
              display: block;
            }
            li{

              width: 250px;
              margin: 0 10px;
              .foto{
                width: 250px;
                padding: 50px 25px;
              }

            }
          }
        }



      }
    }

  }
  .collectionDownLine{
    margin: 0;

    .seasonDown{
      margin-top: 650px ;
      height: 450px;
    }
    .colection2018{
        padding-top: 75px;
      .title{
        width: 270px;
        h1{
          font-size: 30px;
        }
      }
      .text{

        width: 370px;

        p{
          margin: 0;
          font-size: 14px;
        }
      }
      .btnColection{
        button{
          width: 320px;
        }
      }
    }
  }
  .newArrivals{
    .title{
      position: relative;
      margin: 0 auto;
      text-align: center;
      width: 320px;
    }
    .arrows{

        display: none;
          }
    .slider-box{
      position: relative;
      width: 95vw;
      margin: 0 -70px;
    }
  }
  .ourBrands{
    .slider-box{
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      width: 95vw;
      margin: 0 -70px;



      .slider-body-brands{
        position: relative;
        right: 0;

        ul{
          position: relative;

          flex-direction: row;
          flex-wrap: nowrap;
          margin: 0;
          .fantom{
            display: block;
          }
          li{

            width: 250px;
            margin: 0 10px;

          }
        }
      }



    }
  }
}
footer{
.footerBaner{
  .col-md-6{
    margin-top: 10px;
  }
  .col-md{
    flex-direction: column;
    margin-top: 25px;

    .textForm{
      width: 100%;

    }
    .form{
      width: 100%;
      margin: 0;
    }
  }
}
}
}
@media (max-width: 475px) {
  .newArrivals{
    .title{
      left: -30%;
    }
    .slider-box{

      right: 20%;

    }
  }
}
@media (max-width: 400px) {

  main{

    .collectionsUpLine{
      .season{
        padding: 93px 50px;
        .slider-box{
          margin: 0 -40px;
        }
      }
    }
    .collectionDownLine{
      .colection2018{
        .title{
          width: 270px;
          h1{
            font-size: 30px;
          }
        }
        .text{

          width: 370px;
          padding: 5px;

          p{
            margin: 0;
            font-size: 14px;
          }
        }
      }
    }
    .newArrivals{
      padding: 120px 50px;
      .title{

        left: -25px;
      }

      .slider-box{
        right: 0;

          margin: 0 -40px;

      }
    }
    .ourBrands{
      padding: 60px 40px;
     .title{
       width: 275px;
       position: relative;
       //left: -30px;
     }
      .slider-box{
        margin: 0 -40px;
      }
    }
  }
}
@media (max-width: 320px) {
  main{
    .collectionsUpLine{
      .season{
        padding: 93px 20px;
        .slider-box{
          margin: 0 -10px;
        }
      }
    }
    .collectionDownLine{
      .colection2018{
        .title{
          width: 270px;
          h1{
            font-size: 30px;
          }
        }
        .text{

          width: 300px;
          padding: 5px;

          p{
            margin: 0;
            font-size: 14px;
          }
        }
        .btnColection{
          button{
            width: 300px;
          }
        }
      }

    }
    .newArrivals{
      padding: 120px 25px;
      .title{

        left: -25px;
      }

      .slider-box{
        right: 0;
        margin: 0 -10px;
      }
    }
    .ourBrands{
      padding: 60px 10px;
      .title{
        width: 275px;
        position: relative;

      }
      .slider-box{
        margin: 0 -10px;
      }
    }
  }
  footer{
    .footerBaner{
      .col-md{
        .form{
          form{
            flex-direction: column;
            input,button{
              width: 270px;
            }
          }
        }
      }
    }
  }
}
