@font-face {
  font-family: Open_Sans;
  src: url(../fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf);
}
@font-face {
  font-family: Open Sans Light;
  src: url(../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    border-collapse: collapse;
    list-style: none;

}
.title{
  justify-content: center;
  display: flex;
  h1{
    font-family: Open Sans Light;
    font-size: 48px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 10px;
  }
}
.yellowSubmarin{
  color: #D1A954;
}
.fantom{
  display: none;
}

header{
  background-image: url("../img/background/buner.jpg");
  background-size: cover;
  color: white;
  padding-top: 50px;
  .leftLine{
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 100vh;
    padding: 90px 0;
    background: rgba(51, 51, 51, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    .text{
      h3{
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 18px;
        font-family: Open_Sans;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: rgba(196, 196, 196, 1);

      }
    }
    hr{
      width: 80px;
      transform: rotate(90deg);
      margin: 80px 0;
      background-color: white;
    }
    .social{
      ul{
        margin: -30px 0;
        li{
          margin: 30px 0;
          text-align: center;
          i{
            transition: 0.3s;
            font-size: 26px;
          }
          i:hover{
            transition: 0.3s;
            color: rgb(209, 169, 84);
            cursor: pointer;

          }
        }
      }
    }

  }
  .navMenu{
    .menu{
      padding: 0;
      nav{
        ul{
          display: flex;
          justify-content: space-between;
          li{
          a{
            transition: 0.3s;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-size: 18px;
            font-family: Open_Sans;
            letter-spacing: 0.1em;
            p{
              margin: 0;
            }
          }
            a:hover{
              transition: 0.3s;
              color: rgb(209, 169, 84);
              cursor: pointer;
            }
          }

        }
      }
    }
    .phone{
        display: flex;
      justify-content: flex-end;
      p{
        font-size: 16px;
        font-family: Open_Sans;
        letter-spacing: 0.05em;
        line-height: 15px;
        margin: 0;
        height: 20px;
        border-bottom: 2px solid rgba(209, 169, 84, 1);
      }
    }
  }
  .buner{
    padding: 200px 0 175px;
    .afisha{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .title{
        h1{
          font-family: Open_Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 64px;
          line-height: 87px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
      }
      .text{
        margin: 50px auto;
        p{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
        }
      }
      .button{
        button{
          width: 160px;
          height: 50px;
          background: #D1A954;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;


          h2{
            font-family: Open_Sans;
            margin-top: 7px;
            font-size: 18px;
            line-height: 25px;
            color: white;
            letter-spacing: 0.1em;
            text-transform: uppercase;
          }

        }
      }
    }
    .slider{
      display: flex;
      flex-direction: column;
      align-items: center;
      .slider-box{
        width: 370px;
        height: 510px;
        overflow: hidden;
        .slider-buner-body{
          padding-left: 20px;
          padding-top: 20px;
          position: relative;
          ul{
            margin: 0 -15px;
            width: 1140px;
            display: flex;
            justify-content: center;
            li{
              width: 350px;
              margin: 0 15px;
              background-image: url("../img/foto/item-buner.jpg");
            .item{
              background: rgba(209, 169, 84, 0.85);
              img{
                position: relative;
                left: -20px;
                top: -20px;
              }
            }
          }}

        }
      }
      .slider-arrows{
        width: 375px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .prew,.next{
          transition: 0.3s;
          display: flex;

          p{
            margin: 25px;
            font-family: Open_Sans;
            font-size: 18px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            vertical-align: center;

          }
        }
        //.prew:hover,.next:hover{
        //  transition: 0.3s;
        //
        //  color: rgb(209, 169, 84);
        //  cursor: pointer;
        //}
      }
      .slider-arrows:hover{
        cursor: pointer;
      }
    }
  }
  .mobileHead{
    display: none;
  .mobileTop{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    .phone{
      p{
        font-size: 16px;
        font-family: Open_Sans;
        letter-spacing: 0.05em;
        line-height: 15px;
        margin: 0;
        height: 20px;
        border-bottom: 2px solid rgba(209, 169, 84, 1);
      }
    }
  }
  .mobileNav{
    transition: 0.5s;
    z-index: 15;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    padding: 40px;
    background: #333333;
    .iconClose{
      display: flex;
      justify-content: flex-end;
      color: white;
      font-size: 16px;
    }
    .menu{
      margin: 85px 0;
      padding: 0;
      nav{
        ul{
          display: flex;
          flex-direction: column;
          margin: -17.5px 0;
          li{
            margin: 17.5px 0;
            a{
              transition: 0.3s;
              text-decoration: none;
              color: white;
              text-transform: uppercase;
              font-size: 18px;
              font-family: Open_Sans;
              letter-spacing: 0.1em;
              p{
                margin: 0;
              }

            }
            a:hover{
              transition: 0.3s;
              color: rgb(209, 169, 84);
              cursor: pointer;
            }
          }

        }
      }
    }
    .social{
      margin: 0 40px;
      ul{
        display: flex;
        flex-wrap: wrap;
        margin: -25px;
        li{
          margin:25px;
          text-align: center;
          i{
            transition: 0.3s;
            font-size: 26px;
          }
          i:hover{
            transition: 0.3s;
            color: rgb(209, 169, 84);
            cursor: pointer;

          }
        }
      }
    }
    }
  }

}
main{
  .fantom{
    display: none;
  }
  background: rgba(51, 51, 51, 1);

  color: white;
  .aboutTheatre{
    padding: 150px 0 50px;


    .container{
      padding: 100px 0 0;
      .subtitle{
        padding-bottom: 40px;
        h3{
          font-family: Open_Sans;
          font-size: 21px;
          line-height: 29px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          margin: 0;
        }

      }
      .text{
        p{
          font-size: 14px;


        }
      }
      .icons{
        .items{
          .item{
            margin-bottom: 25px;
            .sub{
              padding-top: 10px;
              display: flex;
              p{
                padding: 2px;
                margin: 0;
              }
            }
          }
        }
      }
      .foto{
        padding: 0;
        img{
          width: 100%;
        }
      }
    }

  }
  .ourDeliveries{
    padding: 100px 0;
    .slider-box{
      margin-top: 100px;
      margin-left: 150px;
      .slider-our-body{
        ul{
          display: flex;
          li{
            .item{
              height: 500px;
              overflow: hidden;
              .foto{
                img{
                  width: 410px;
                  height: 500px;
                }
              }
              .hover{
                position: relative;
                top: -500px;
                height: 1000px;
                transition: 0.5s;
                .face{
                  padding: 40px;
                  height: 500px;
                  display: flex;
                  flex-direction: column;
                  background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65));
                  .subtitle{
                    h2{
                      font-family: Open_Sans;
                      font-size: 24px;
                      line-height: 33px;
                      letter-spacing: 0.05em;
                      text-transform: uppercase;

                    }
                  }
                  .text{
                    font-family: Open_Sans;
                    font-size: 18px;
                    line-height: 25px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    transform: rotate(-90deg);
                    position: relative;
                    top: 50%;
                    left: -45%;

                  }
                }
                .back{
                  height: 500px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .zoom{
                    border-radius: 100% ;
                    background: rgba(209, 169, 84, 1);
                    width: 100px;
                    height: 100px;
                    padding: 35px;

                  }
                  .zoom:hover{
                    cursor: pointer;
                  }
                }

              }
              .hover:hover{
                top: -1000px;
                transition: 0.5s;
              }
            }
          }
        }

      }
    }
  }
  .besTheater{
    padding: 75px;
    .container{
      padding: 0;
      background-image: url("../img/background/goodTeatre.jpg");
      background-size: cover;
      .row{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .years{
        text-align: right;
         padding: 130px;
        h2{
          font-family: Open_Sans;
          font-size: 72px;
          line-height: 98px;
          letter-spacing: 0.1em;
          text-transform: uppercase;

        }
      }
      .info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .title{
          font-size: 24px;
          margin-top: -25px;
          ul{margin: 25px -12.5px;
            display: flex;

            li{
              margin: 0 12.5px;
            }
          }
        }
        .text{
          width: 540px;
          h3{
            font-family: Open_Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 150%;
          }
        }
      }
    }
  }
  .ourPartners{
    .fantom{
      display: none;
    }
    padding: 75px;
    .title{
      margin-bottom: 100px;
      h1{
        margin: 0;

      }
    }
  .icons{
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: -40px;

      li{
        margin: 40px;
      }
    }
  }
  }
}
footer{
  padding: 50px 0 0 0;
  color: white;
  background: rgba(51, 51, 51, 1);
  .maecenas{
    .col-xl-8,.col-xl-4{
      padding: 0;
    }
    .title{
      margin-bottom: 100px;
    }
    .contacts{
      margin: -12.5px 0;
      h3{
        margin: 12.5px 0;
        font-family: Open_Sans;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
    }
    .form{
      form{
        .input{

          display: flex;
          align-items: flex-start;
          flex-direction: row;
          flex-wrap: nowrap;
          margin-bottom: 40px;

          .text{
            margin: -15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            input{
              width: 42%;
              height: 35px;
              margin: 15px;
              background: #444444;
              border: 1px solid #616161;
              box-sizing: border-box;
              padding: 0 15px;
              font-family: Open_Sans;
              font-size: 12px;
              display: flex;
              align-items: center;
              color: #989898;
            }

          }
          .textarea{
            margin-left: 30px;
            textarea{
              height: 100%;
              background: #444444;
              border: 1px solid #616161;
              box-sizing: border-box;
              padding: 15px;
              font-family: Open_Sans;
              font-size: 12px;
              display: flex;
              align-items: center;
              color: #989898;
            }
          }
        }
        .down{
          display: flex;
          justify-content: space-between;
          p{
            width: 55%;
            font-family: Open_Sans;
            font-size: 12px;
            color: #989898;
          }
          button{
            height: 50px;
            width: 200px;
            background: #D1A954;
            border: none;

            h2{
              margin:auto;
              color: white;
              font-family: Open_Sans;
              font-size: 18px;
              line-height: 25px;

              letter-spacing: 0.1em;
              text-transform: uppercase;
            }

          }
        }
      }
    }
  }
  .downLine{
    padding-top: 30px;
    hr{
      width: 100%;
      background-color: #565656;

    }
    .row{
      padding: 30px 0;
    }
    p{
      font-family: Open_Sans;
      font-size: 12px;
      color: #989898;
    }
    .developer{
      text-align: right;

    }

  }
}