@font-face {
  font-family: PTSans;
  src: url(../fonts/PTSans/PTSans-Regular.ttf);
}
@font-face {
  font-family: Playfair;
  src: url(../fonts/PlayfairDisplay/static/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: Playfair-Italic;
  src: url(../fonts/PlayfairDisplay/static/PlayfairDisplay-MediumItalic.ttf);
}
@font-face {
  font-family: Playfair-Bold;
  src: url(../fonts/PlayfairDisplay/static/PlayfairDisplay-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  border-collapse: collapse;
  list-style: none;
}
hr {
  background-color: white;
  width: 120px;
}
.title {
  color: white;
  text-align: center;
}
.title h1 {
  font-size: 36px;
  font-family: Playfair;
  text-transform: uppercase;
}
header .container {
  padding: 0;
}
header .container .row {
  margin: 0;
}
header .top {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #969696;
  font-size: 12px;
  padding: 14px 0;
}
header .top p {
  margin: 0;
  font-family: PTSans;
}
header .top .info {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
header .top .info .phone {
  display: flex;
  padding: 0 14px 0 0;
}
header .top .info .phone i {
  padding-top: 2px;
  margin-right: 16px;
  font-size: 14px;
}
header .top .info .workday {
  padding: 0 14px;
  border-right: 1px solid #969696;
  border-left: 1px solid #969696;
}
header .top .info .worktime {
  padding: 0 14px;
}
header .top .input {
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
header .top .input i {
  padding-top: 2px;
  margin-right: 14px;
  font-size: 14px;
}
header .top .input a {
  transition: 0.5s;
  color: #969696;
  font-size: 12px;
}
header .top .input a:hover {
  transition: 0.5s;
  color: white;
  text-decoration: none;
}
header .navMenu {
  background: #0f0f0f;
}
header .navMenu .logo {
  padding: 6px 0;
  margin: 16px 0;
}
header .navMenu .menu {
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .navMenu .menu .nav {
  height: 100%;
}
header .navMenu .menu .nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
header .navMenu .menu .nav ul li {
  transition: 0.3s;
  height: 100%;
  list-style: none;
  padding: 25px 20px 0 ;
}
header .navMenu .menu .nav ul li p {
  transition: 0.3s;
  align-items: center;
  text-transform: uppercase;
  color: #969696;
  font-size: 14px;
  font-family: PTSans;
}
header .navMenu .menu .nav ul li:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #1f1f1f;
}
header .navMenu .menu .nav ul li:hover p {
  transition: 0.3s;
  color: white;
}
header .navMenu .menu .tool {
  margin-right: -15px;
}
header .navMenu .menu .tool img {
  color: white;
  font-size: 16px;
  padding: 0 5px;
  margin: 0 20px;
}
header .navMenu .menu .tool img:hover {
  cursor: pointer;
}
header .mobileHead {
  display: none;
}
header .banner {
  padding: 160px 0;
  background-image: url("../img/background/bunner.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffffff;
}
header .banner .col-xl-8 {
  padding: 0;
}
header .banner .superLoge {
  margin-bottom: 80px;
}
header .banner .text {
  text-transform: uppercase;
  padding: 0 2px;
}
header .banner .text p {
  font-family: PTSans;
  font-size: 16px;
}
main {
  background-color: black;
}
main .fantom {
  display: none;
}
main .collectionsUpLine {
  display: flex;
  color: white;
}
main .collectionsUpLine .season {
  width: 55%;
  padding: 93px 80px;
}
main .collectionsUpLine .season .title {
  display: flex;
  justify-content: center;
}
main .collectionsUpLine .season .title h1 {
  font-size: 36px;
  font-family: Playfair-Bold;
  text-transform: uppercase;
  margin: 0;
}
main .collectionsUpLine .season hr {
  margin: 50px auto;
  background-color: white;
  width: 120px;
}
main .collectionsUpLine .season .list {
  margin: 0 -25px;
}
main .collectionsUpLine .season .list ul {
  display: flex;
  justify-content: center;
  margin: 0;
  list-style: none;
}
main .collectionsUpLine .season .list ul li {
  padding: 0 25px;
}
main .collectionsUpLine .season .list ul li .foto {
  background-color: #191b1c;
  padding: 55px 22px;
}
main .collectionsUpLine .season .list ul li .text {
  padding: 25px 0;
}
main .collectionsUpLine .season .list ul li .text h3 {
  font-size: 18px;
  font-family: Playfair;
  font-weight: 400;
}
main .collectionsUpLine .season .list ul li .text p {
  font-size: 16px;
  font-family: Playfair;
  font-weight: 700;
  color: #d0d0d0;
  margin: 0;
}
main .collectionsUpLine .catalog {
  width: 45%;
  background-image: url("../img/background/catalog.png");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 100px;
}
main .collectionsUpLine .catalog .title h1 {
  font-size: 36px;
  font-family: Playfair;
  font-weight: 700;
  text-transform: uppercase;
}
main .collectionsUpLine .catalog hr {
  background-color: white;
  margin: 30px auto;
  width: 120px;
}
main .collectionsUpLine .catalog .btnCatalog button {
  padding: 12px 30px;
  background: none;
  border: 2px solid white;
  font-size: 18px;
  font-family: PTSans;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}
main .collectionDownLine {
  display: flex;
}
main .collectionDownLine .seasonDown {
  width: 45%;
  background-image: url("../img/background/season.png");
  background-size: cover;
  background-position: center;
}
main .collectionDownLine .colection2018 {
  color: white;
  width: 55%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .collectionDownLine .colection2018 .title h1 {
  text-transform: uppercase;
  font-size: 36px;
  font-family: Playfair;
  font-weight: 400;
}
main .collectionDownLine .colection2018 hr {
  width: 120px;
  background-color: white;
  margin: 40px auto;
}
main .collectionDownLine .colection2018 .text {
  width: 470px;
  text-align: center;
}
main .collectionDownLine .colection2018 .text p {
  font-size: 14px;
  font-family: PTSans;
  font-weight: 400;
}
main .collectionDownLine .colection2018 .btnColection {
  margin-top: 60px;
}
main .collectionDownLine .colection2018 .btnColection button {
  color: white;
  text-transform: uppercase;
  background: none;
  padding: 12px 28px;
  border: 2px solid white;
  font-family: PTSans;
  font-size: 18px;
}
main .newArrivals {
  padding: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
main .newArrivals .col-xl-12 {
  padding: 0;
}
main .newArrivals .title {
  text-align: center;
}
main .newArrivals .title h1 {
  font-size: 36px;
  font-family: Playfair;
  text-transform: uppercase;
  font-weight: 700;
}
main .newArrivals hr {
  margin: 40px auto 80px;
}
main .newArrivals .arrows i {
  margin: -40px -25px;
  display: none;
  position: relative;
  top: 350px;
  font-size: 48px;
}
main .newArrivals .arrows .fa-chevron-left {
  position: absolute;
  left: -50px;
}
main .newArrivals .arrows .fa-chevron-right {
  position: absolute;
  right: -50px;
}
main .newArrivals .arrows:hover {
  cursor: pointer;
}
main .newArrivals .listArrivals {
  margin: 0 -25px -20px;
}
main .newArrivals .listArrivals ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
}
main .newArrivals .listArrivals ul li {
  width: 20%;
  margin: 0 12px 20px;
}
main .newArrivals .listArrivals ul li .foto {
  background-color: #191b1c;
  padding: 55px 22px;
}
main .newArrivals .listArrivals ul li .text {
  padding: 25px 0;
}
main .newArrivals .listArrivals ul li .text h3 {
  font-size: 18px;
  font-family: Playfair;
  font-weight: 400;
}
main .newArrivals .listArrivals ul li .text p {
  font-size: 16px;
  font-family: Playfair;
  font-weight: 700;
  color: #d0d0d0;
  margin: 0;
}
main .ourBrands {
  background-color: #0f0f0f;
  padding: 60px;
}
main .ourBrands hr {
  margin: 40px auto;
}
main .ourBrands .listBrands ul {
  display: flex;
  margin: 0 -15px;
}
main .ourBrands .listBrands ul li {
  margin: 0 15px;
}
footer {
  color: white;
  background: #0f0f0f;
}
footer .footerBaner {
  background-image: url("../img/background/footBunner.png");
  background-size: cover;
  background-position: center;
  padding: 80px 10px 100px;
}
footer .footerBaner .title {
  text-align: left;
  margin-bottom: 40px;
}
footer .footerBaner .title h1 {
  font-size: 24px;
}
footer .footerBaner .text p {
  font-size: 14px;
  font-family: PTSans;
  font-weight: 400;
  line-height: 21px;
}
footer .footerBaner .tags {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
}
footer .footerBaner .tags a {
  margin: 10px;
  padding: 10px 20px;
  background: #0f0f0f;
  color: white;
  font-size: 14px;
  font-family: PTSans;
}
footer .footerBaner .form {
  margin-top: 45px;
}
footer .footerBaner .form input {
  width: 50%;
  height: 40px;
  padding: 10px 15px;
  color: white;
  font-family: PTSans;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  margin: 0;
}
footer .footerBaner .form input::-webkit-input-placeholder {
  color: #969696;
}
footer .footerBaner .form button {
  width: 40%;
  background-color: #0f0f0f;
  padding: 10px 20px;
  font-size: 14px;
  font-family: PTSans;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  border: none;
  margin: 0;
}
footer .boton {
  padding: 17px;
}
footer .boton .сopyright {
  color: #d0d0d0;
}
footer .boton .сopyright p {
  font-size: 12px;
  font-family: PTSans;
  font-weight: 400;
  margin: 0;
}
footer .boton .link {
  display: flex;
  justify-content: flex-end;
}
footer .boton .link a {
  font-size: 12px;
  font-family: PTSans;
  font-weight: 700;
  color: #d0d0d0;
  text-decoration: underline;
}
footer .boton .link a p {
  margin: 0;
}
